.priority-input {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.priorities {
  display: flex;
  gap: 8px;
}

.item {
  display: flex;
  align-items: center;
  gap: 4px;

  padding: 6px 10px;
  border-radius: 8px;
  border: 1px solid var(--color-border);

  cursor: pointer;
  transition: all 0.15s ease;
}

.p2 {
  background-color: light-dark(var(--color-gray-100), var(--color-gray-900));
  color: light-dark(var(--color-gray-700), var(--color-gray-200));
}

.p1 {
  background-color: light-dark(var(--color-sky-100), var(--color-sky-950));
  color: light-dark(var(--color-sky-800), var(--color-sky-100));
}

.p0 {
  background-color: light-dark(var(--color-rose-100), var(--color-rose-950));
  color: light-dark(var(--color-rose-800), var(--color-rose-100));
}

.active {
  border-color: var(--color-primary);
  font-weight: 500;
}

.error {
  color: var(--color-danger);
  font-size: 12px;
}
