.list-item {
  background-color: var(--color-surface-3);
  box-shadow: var(--shadow-2);

  display: grid;
  grid-template-columns: 1fr auto;
  align-items: start;
  column-gap: 1rem;

  padding: 0.5rem;

  border: 1px solid transparent;
  border-radius: var(--border-radius-2);

  cursor: default;
  user-select: none;

  .priority {
    width: fit-content;
    padding-inline: 0.25rem;
    padding-block: 0.10rem;
    border-radius: var(--border-radius-1);
    font-size: 0.75em;
    font-weight: 500;
    opacity: 0.5;

    &.P2 {
      background-color: light-dark(
        var(--color-gray-100),
        var(--color-gray-900)
      );
      color: light-dark(var(--color-gray-700), var(--color-gray-200));
      border: 1px solid light-dark(var(--color-gray-300), var(--color-gray-600));
    }

    &.P1 {
      background-color: light-dark(var(--color-sky-100), var(--color-sky-950));
      color: light-dark(var(--color-sky-800), var(--color-sky-100));
      border: 1px solid light-dark(var(--color-sky-300), var(--color-sky-700));
    }

    &.P0 {
      background-color: light-dark(
        var(--color-rose-100),
        var(--color-rose-950)
      );
      color: light-dark(var(--color-rose-800), var(--color-rose-100));
      border: 1px solid light-dark(var(--color-rose-300), var(--color-rose-700));
    }
  }

  > button {
    opacity: 0;
  }

  &:not(.presentational) {
    &:hover {
      > button {
        opacity: 1;
      }
      .priority {
        opacity: 1;
      }
    }
  }
}
