.color-input {
  display: grid;

  .colors {
    display: flex;
    gap: 0.5rem;

    button {
      background-color: var(--color-surface-3);
      color: var(--color-surface-3);

      display: grid;
      place-content: center;

      block-size: 1em;
      inline-size: 1em;

      padding: 0.5rem;

      border: 4px solid var(--color-main);
      border-radius: 999rem;

      font-size: 2rem;

      cursor: pointer;

      svg {
        font-size: 0.5em;
      }

      &:focus-visible {
        outline: 2px solid var(--color-primary);
        outline-offset: 2px;
      }

      &.active {
        background-color: var(--color-main);
      }
    }
  }

  .error {
    color: var(--color-danger);
  }
}
