.text-input {
  display: grid;

  input {
    background-color: var(--color-surface-3);
    color: var(--color-text);

    padding: 0.5rem;

    border: 1px solid var(--color-border);
    border-radius: var(--border-radius-2);

    &:focus {
      outline: 2px solid var(--color-primary);
      outline-offset: -2px;
    }
  }

  .error {
    color: var(--color-danger);
  }

  &.error {
    input {
      border-color: var(--color-danger);
    }
  }
}
