.tags-page {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    margin-block-end: 0.5rem;
  }

  .tags {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    gap: 1rem;
  }
}
