.tag-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  padding: 1rem;

  background-color: var(--color-surface-3);
  box-shadow: var(--shadow-2);

  border-radius: var(--border-radius-2);
  border-inline-start: 4px solid var(--color-main);

  transition: background-color 0.2s linear;
  .label {
    font-weight: 600;
  }

  .icon {
    opacity: 0;
  }

  &:hover {
    background-color: color-mix(in srgb, var(--color-main) 10%, transparent);

    .icon {
      opacity: 1;
    }
  }
}
